/* ensures the navbar sticks to bottom and is the correct height */
body {
    margin: 0 0 121px;
    padding: 0;
    background-color: white;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
}

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

.topper {
  background-color: #1a1a1a;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #04fb89;
}

.topper h1 {
  font-size: 38pt;
  color: #04fb89;
  line-height: 25px;
}

.topper h2 {
  font-size: 30pt;
  color: white;
  line-height: 30px;
}

.mainnav {
  overflow: hidden;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  margin-bottom: 30;
}

.mainnav a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 33.333%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainnav a.current {
    background-color: #04fb89;
    color: black;
}

.mainnav a:hover:not(.current) {
    background-color: #4d4d4d ;
}

.mainbody {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;
  min-height: 100%;
}

.mainbody h1 {
  text-decoration: underline;
  text-align: center;
}
.mainbody h2 {
  text-decoration: underline;
}

.mainbody h3 {
  text-decoration: underline;
}

.bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.top {
  padding-top: 10px;
  border-top: 1px solid black;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 130px;
  clear: both;
  background-color: #1a1a1a;
  color: #04fb89;
  text-align: center;
  width: 100%;
}

.numberedlist li{
  list-style-type: decimal;
}

.mainimg {
  width: 30%;
  border: 1px solid black;
  margin-left: 35%;
  margin-right: 35%;
}

.mainimg2 {
  width: 20%;
  border: 1px solid black;
  margin-left: 40%;
  margin-right: 40%;
}

.mainimg3 {
  width: 50%;
  border: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
}


@media only screen and (max-width: 800px) {
    .mainimg, .mainimg2, .mainimg3 {
      width: 100%;
      height: auto;
      margin: 0;
    }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 45%;
  max-width: 45%;
  height: auto;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  width: 100%;
  vertical-align: middle;
  border: 1px solid black;
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.Portfoliolinks, .backarrow {
  color: black;
  padding: 10px;
  border: 1px solid black;
  background-color: #04fb89;
  text-decoration: none;
}

.backarrow {
  margin-top: 20px;
}

iframe.CV {
  border: none;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    display:block;
}

.column2 {
    float: left;
    width: 45%;
    height: auto;
    margin: 0 auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.row {
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {
    .column2 {
        width: 100%;
    }
}
